include ../mixins.pug

doctype html
html(lang='en')
  +norska_head
  body.amaranth
    //- Prevent all display in portrait mode
    .landscape_hidden.absolute.inset-0.bg-gray.flex.flex-center
      .text-7.p-5.text-center.white.text-shadow Please, turn your phone in landscape mode

    //- Main fullscreen slides
    .portrait_invisible.h-100vh.w-100vw.flex.flex-center.bg-gray-3
      .relative.device-aspect-ratio.js-dynamic-font-size.js-swipe-area
        //- Actual slide
        .-h-10p.amaranth.bg-white.text-3.gray-9.relative.overflow-hidden
          block content
        //- Progress indicator
        .absolute.bottom-0.left-0.right-0.h-10p.bg-gray-8
          .js-time-indicator
          .flex.flex-row.h-100p
            .flex-auto.flex.flex-col.justify-center
              a.white.text-shadow.text-shadow-gray-1.text-2(href=data.meta.productionUrl)=data.meta.title
            .flex-none.flex.flex-col.px-3.justify-center
              .flex.flex-col.lh-1
                .text-right.white.text-01=data.meta.author
                a.text-right.text-01.green(href=`https://twitter.com/${data.meta.twitter}`)
                  .inline @
                  .inline.hover_underline.text-shadow=data.meta.twitter
  +norska_scripts
