//- Speaker presentation slide
mixin slide_speaker()
  -
    CURRENT_MIXIN = "slide_speaker"
    SLOTS[CURRENT_MIXIN] = {}; block && block()

  +slide.debug
    p=JSON.stringify(SLOTS)
    h3
      +unslot('name')
    +two_columns
      +slot('alpha') Tim Carry
      +slot('beta') Image
    //- +unslot('jobTitle')
    //- .flex.h-100p.flex-row.flex-center
    //-   .flex.flex-row.w-90p
    //-     .flex-none.w-66p.flex.flex-center
    //-       .flex-col.w-90p
    //-         .block.text-7.lh-1 Tim Carry
    //-         .block.text-4.gray-7 Developer Advocate
    //-         .block.green.text-4
    //-           .inline @
    //-           .inline.underline pixelastic
    //-         .flex.flex-row.mt-5
    //-           .flex-none.w-50p.flex.flex-center.mr-5
    //-             img.w-100p(src=`./assets/algolia.png`, alt="Algolia")
    //-           .flex-none.w-33p.flex.flex-main-start.flex-cross-center
    //-             img.h-80p(src=`./assets/humantalks-black.png`, alt="HumanTalks")
    //-     .flex-none.w-33p.flex.flex-center
    //-       img.h-20.rounded-full(src="./assets/avatar.jpg")
